:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .router-wrapper {
    flex: 1;

    ::ng-deep router-outlet + * {
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
