/library/*
!/library/14.otf
!/library/15.otf
!/library/16.ttf
!/library/17.ttf
!/library/18.otf
!/library/1.png
!/library/1.xlf
!/library/23.mp4
!/library/24.mp4
!/library/25.mp4
!/library/2.jpg
!/library/attachment
!/library/cache
!/library/Chart.min.js
!/library/compatibility.js
!/library/flipclock.min.js
!/library/jquery-1.11.1.min.js
!/library/jquery-cycle-2.1.6.min.js
!/library/jquery.marquee.min.js
!/library/moment.js
!/library/pdf.js
!/library/pdf.worker.js
!/library/screenshots
!/library/temp
!/library/tn_1.png
!/library/tn_2.jpg
!/library/.watermark_stat_archive_mysql.txt
!/library/xibo-countdown-render.js
!/library/xibo-dataset-render.js
!/library/xibo-image-render.js
!/library/xibo-layout-scaler.js
!/library/xibo-text-render.js
!/library/xibo-webpage-render.js